.usersWrapper {
	display: block;
}
.userItem {
	width: 700px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	padding: 10px;
	margin: 5px;
}
.userImg {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.userName {
	font-weight: bold;
	color: black;
	text-decoration: none;
	padding-bottom: 30px;
}
.userName:hover {
	text-decoration: underline;
}
.userDes p {
	padding-top: 5px;
	color: grey;
}
.userItem button {
	margin-top: 20px;
}
.usersWrapper button {
	width: 100px;
	height: 40px;
}
.activeButton {
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
}
.button {
	border: 1px solid #A9A9A9;
	background-color: white;
	cursor: pointer;
}



.preloader {
	display: block;
	width: 200px;
	height: 200px;
	margin: 200px auto;
}
.usersBlock {
	display: none;
}